.header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 89.15%;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.085) 0%, rgba(196, 196, 196, 0) 100%);
    justify-content: center;
}

.eatmi_box,
.eatmi_icon {
    position: absolute;
    left: 21px;
    right: 1000px;
    top: 3px;
    bottom: 1000;

    height: 72px;
    width: 72px;
    border-radius: 72px;
}

.eatmi_text,
.our_story_text,
.shop_text,
.my_account_text,
.sign_up_text,
.Eng_Thai {
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

.eatmi_icon {
    background: #F9B609;
}

.eatmi_text {
    position: absolute;
    left: 4%;
    right: 90.5%;
    top: -4px;
    bottom: 93.48%;

    font-size: 22px;
    line-height: 35px;

    color: #FFFFFF;
}

.left_taskbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    left: 187px;
    right: 200px;
    top: 3px;
    bottom: 1000px;
}

.our_story_box {
    position: static;
    width: 156px;
    height: 32px;
    left: 0px;
    top: 0px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
}

.our_story_text {
    position: absolute;
    width: 131px;
    height: 32px;
    left: 0px;
    top: 0px;
}

.shop_box {
    position: absolute;
    width: 23px;
    height: 32px;
    left: 188px;
    top: 0px;

    color: #000000;
}

.shop_text {
    position: static;
    width: 23px;
    height: 32px;
    left: 188px;
    top: 0px;

    color: #000000;
}

.my_account_box {
    position: static;
    width: 177px;
    height: 33px;
    left: 283px;
    top: 0px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 32px;
}

.my_account_text {
    position: absolute;
    width: 152px;
    height: 32px;
    left: 283px;
    top: 0px;
    
    color: #000000;
}

.right_taskbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    left: 1135px;
    right: 0px;
    top: 3px;
    bottom: 1000px;
}

.bag {
    position: static;
    width: 56px;
    height: 47px;
    left: 0px;
    top: 0px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
}

.sign_up_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 128px;
    height: 36px;
    left: 88px;
    top: 8.5px;    
    
    background: #F9B609;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.sign_up_text {
    position: absolute;
    width: 80px;
    height: 32px;
    left: 24px;
    top: -24px;   

    color: #000000;
}

.Eng_Thai {
    position: absolute;
    width: 79px;
    height: 47px;
    left: 220px;
    top: 20px;
    
    font-size: 24px;
    line-height: 35px;

    color: #000000;
    
    mix-blend-mode: normal;
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 32px;
}
