.footer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1000px;
    bottom: -750px;

    background: #F9B609;
    justify-content: center;
}

.footer_taskbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    left: 0px;
    right: 0px;
    top: 800px;
    bottom: -300px;
}

.taskbar_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    left: 403px;
    right: 0px;
    top: 120px;
    bottom: 0px;
}

.first_taskbar {
    position: static;
    width: 177px;
    height: 198px;
    left: 0px;
    top: 0px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px;
}

.second_taskbar {
    position: static;
    width: 102px;
    height: 108px;
    left: 225px;
    top: 0px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 48px;
}

.third_taskbar {
    position: static;
    width: 194px;
    height: 202px;
    left: 375px;
    top: 0px;
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 48px;
}

.last_taskbar {
    position: static;
    width: 59px;
    height: 87px;
    left: 617px;
    top: 0px;
    
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 48px;
}

.line {
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 178px;
    top: 78px;
    
    background-color: black;

    border: 0.5px solid rgba(0, 0, 0, 0.57);
    transform: rotate(-0.11deg);
}

.AIESEC {
    position: absolute;
    left: 630px;
    right: 0px;
    top: 25px;
    bottom: 0px;
}

.fb {
    position: absolute;
    left: 1235px;
    right: 0px;
    top: 395px;
    bottom: 0px;
}

.ig {
    position: absolute;
    left: 1295px;
    right: 0px;
    top: 395px;
    bottom: 0px;
}
